@page 
@model WeEatRamen.Web.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Browse shops</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Soup base</th>
            <th>Rating</th>
        </tr>
    </thead>
    @foreach (var shop in Model.Shops)
    {
        <tr>
            <td>@shop.Name</td>
            <td>@shop.Location</td>
            <td>@shop.Soup</td>
            <td>@shop.Rating</td>
            <td>
                <a class="btn" asp-page="./Detail" asp-route-shopId="@shop.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
            <td>
                <a class="btn" asp-page="./Edit" asp-route-shopId="@shop.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

